@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @apply font-sans text-gray-900 bg-gray-100;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  
 
}  */