#card{
    height: 100vh;
    width: 100%;
    border: 1px solid  red;
    position: relative;
    background-color: rgb(15, 105, 83);
}
img{
    height: 400px;
    width: 280px;
    border: 2px solid rgb(30, 255, 0);
    box-shadow: 10px 10px 10px 10px rgb(13, 14, 1);
}

#king{
    position: absolute;
    top: 50px;
    left: 400px;
}
#queen{
        position: absolute;
        top: 90px;
        left: 450px;
    }
    #joker{
        position: absolute;
        top: 130px;
        left: 500px;
    }
    #ace{
        position: absolute;
        top: 170px;
        left: 550px;
    }