body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#circle{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    position: relative;
}

/* #s1{

    height: 300px;
    width: 300px;
    background-color: rgb(255, 247, 0);
    position: absolute;
}

#s2{

    height: 300px;
    width: 300px;
    background-color: rgb(255, 247, 0);
    position: absolute;
}

#s3{

    height: 300px;
    width: 300px;
    background-color: rgb(255, 247, 0);
    position: absolute;
} */

#s4{

    height: 300px;
    width: 300px;
    background-color: rgb(255, 247, 0);
    position: absolute;
    animation-name: ros;
}

#s4:hover{
  
     transform: scale(2);
    transform: skew(90deg); 
    transform: translate(-100px, 100px);
    /* transform: rotate(180deg); */
   /* transition-delay: 1s;  */
    transition-timing-function: ease-in-out;
    transition-duration: 2s;

        }

        /* transform: rotate(45deg) translate(100px, 50px); */
        /* transform: translate(50px, 100px); */
        /* transform: scale(1.5, 2);  */
        /* transform: scale(1.5);  */
        /* transform: rotate(90deg);  */
        /* transform: skew(20deg, 10deg); Skews 20° along X-axis and 10° along Y-axis */
        /* transform: matrix(1, 0, 0, 1, 50, 100); Equivalent to translate(50px, 100px) */
        /* transform: perspective(500px) rotateY(45deg);  */







/* } */
